page-profile-details {
    .row{
        padding-bottom: 16px;

        [col-4]{
            font-weight: bold;   
        }
    }

    .editBtn{
        align-items: center;
        justify-content: center;
        
        button{
            width: 45%;
            height: 40px !important;
            margin-top: 30px;
        }
    }
    
}
