<ion-header>
	<ion-navbar>
		<ion-title>
		Edit Business
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-grid class="businessEditForm">
		
			<form [formGroup]="businessEditForm" novalidate>
				<ion-list no-lines>
				<ion-item>
					<img src="assets/images/user.png" alt="" item-left>
					<ion-input type="text" placeholder="Business Name" formControlName="bussinessName" ></ion-input>
				</ion-item>
				<div *ngIf="!businessEditForm.controls.bussinessName.valid && (businessEditForm.controls.bussinessName.dirty ||businessEditForm.controls.bussinessName.touched)" class="error">
					<div [hidden]="!businessEditForm.controls.bussinessName.errors.required">
					  *Business name is required.
					</div>
				</div>

				<ion-item>
						<img src="assets/images/address.png" alt="" item-left class="webimg">
					<!-- <ion-input type="text" placeholder="Address" formControlName="address" [(ngModel)]="autocomplete.query" (ngModelChange)="updateSearch()" required></ion-input> -->
					<ion-searchbar type="text" placeholder="Address" formControlName="address" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" (ionCancel)="dismiss()"
					required></ion-searchbar>
				</ion-item>
				<div *ngIf="!businessEditForm.controls.address.valid && (businessEditForm.controls.address.dirty ||businessEditForm.controls.address.touched)" class="error">
					<div [hidden]="!businessEditForm.controls.address.errors.required">
					  *Address is required.
					</div>
				</div>

				<ion-list [hidden]="dontShowPredictions">
						<ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
							{{ item.description }}
						</ion-item>
				</ion-list>
		
				<ion-item>
					<img src="assets/images/phone.png" alt="" item-left>
					<ion-input type="number" placeholder="Phone Number" formControlName="phoneNumber" required></ion-input>
				</ion-item>
				<div *ngIf="!businessEditForm.controls.phoneNumber.valid && (businessEditForm.controls.phoneNumber.dirty ||businessEditForm.controls.phoneNumber.touched)" class="error">
					<div [hidden]="!businessEditForm.controls.phoneNumber.errors.required">
					  *Phone number is required.
					</div>
					<div [hidden]="!businessEditForm.controls.phoneNumber.errors.pattern">
					  *10 digits are allowed.
					</div>
				</div>

				<ion-item>
					<img src="assets/images/phone.png" alt="" item-left>
					<ion-input type="number" placeholder="Alternate Number" formControlName="alternateNumber" required></ion-input>
				</ion-item>
				<div *ngIf="!businessEditForm.controls.alternateNumber.valid && (businessEditForm.controls.alternateNumber.dirty || businessEditForm.controls.alternateNumber.touched)" class="error">
					<div [hidden]="!businessEditForm.controls.alternateNumber.errors.pattern">
						*10 digits are allowed.
					  </div>
				</div>

				<ion-item>
						<ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
						<ion-input type="email" placeholder="Business Email Address" formControlName="email" required></ion-input>
					  </ion-item>
					  <div *ngIf="!businessEditForm.controls.email.valid && (businessEditForm.controls.email.dirty ||businessEditForm.controls.email.touched)" class="error">
						<div [hidden]="!businessEditForm.controls.email.errors.required">
						  *Business email is required.
						</div>
						<div [hidden]="!businessEditForm.controls.email.errors.pattern">
						  *Email is not valid.
						</div>
					  </div>

				<ion-item>
					<img src="assets/images/bus_type.png" alt="" item-left class="webimg">
					<ion-label>Business Type</ion-label>
					<ion-select class="dropdown" formControlName="bussinessType">
						<ion-option value="Coffee">Coffee</ion-option>
						<ion-option value="Tea">Tea</ion-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<img src="assets/images/web.png" alt="" item-left class="webimg">
					<ion-input type="text" placeholder="Website" formControlName="website"></ion-input>
				</ion-item>

				<ion-item>
						<img src="assets/images/add_photo.png" alt="" item-left class="webimg">

						<ion-input disabled="true" type="text" placeholder='Add your business photo'></ion-input>

						<button ion-button clear  item-right type="button" (click)="pickImage()" [disabled]="gallery.length == 5">
								<img src="assets/images/camera.png" alt="">
						</button>
					</ion-item>	

					<ion-row>
							<ion-col col-4 *ngFor='let image of gallery; let i = index'>
									<button ion-button clear (click)="deleteImage(i)">
											<img src="assets/images/close.png" alt="">
									</button>
									<img [src]="image" alt="" class="pics">
							</ion-col>
						</ion-row>
		
				<button type="button" (click)="updateBusiness()" ion-button round block margin-top [disabled]="!businessEditForm.valid">UPDATE BUSINESS</button>

				</ion-list>
			</form>
	</ion-grid>
	
	</ion-content>