page-forgotpassword {
    // .signUpForm{
    //     padding: 50% 20px 0px;
    // }

    .signUpForm{
        iframe{
            height: 650px;
            width: 100%;
           
        }
        .dialog-area{
            border:1px solid red !important
        }
    }

    .dialog-area {
        height: 15em;
        display: flex;
        align-items: flex-start;
        justify-content: center; 
    }

    .dialog-form{
        width: 15em;
    }
}
