<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid class="signUpForm">
    <form #forgotPassForm="ngForm" (ngSubmit)="onSubmit(forgotPassForm)">
      <ion-list no-lines *ngIf="showEmail">
        <ion-item>
          <ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
          <ion-input type="email" placeholder="Email Address" name="email" ngModel required></ion-input>
        </ion-item>

         <button ion-button round block margin-top [disabled]="!forgotPassForm.valid">RESET PASSWORD</button>
      </ion-list>
      <div *ngIf= "showSubmitMessage">

        <p style="text-align:center"> Instructions to reset password has been sent to the registered email-id </p>
      </div>

    

     
    </form>
  </ion-grid>

 <!-- <label>Please enter the username</label>
  <input type="text" [(ngModel)]="username" placeholder="username" />
  <button ion-button color="primary" (click)="forgotPassword(username)">Reset Password</button>


  <div *ngIf="showResponse" class="signUpForm">
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(resetPasswordString)' frameborder="5">
    </iframe>
  </div>-->
</ion-content>
